[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
itsdangerous = "*"
loguru = "*"
qrcode = "*"
six = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
Werkzeug = "*"
flask-compress = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
